body {
    background-color: rgb(252, 207, 214);
}

h1 {
    color: rgb(245, 63, 93);
}

h3 {
    color: rgb(245, 63, 93);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

